.form-field__label {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: black;
}

@media #{$mobile-widths-only} {
  .form-field__label {
    font-size: 17px;
    line-height: 18px;
  }
}

@media #{$tablet-widths} {
  .form-field__label {
    font-size: 19px;
    line-height: 18px;
  }
}
