.form-field__textarea {
  width: 100%;
  height: 140px;
  font-family: 'Open Sans';
  font-size: $font-main--big;
  vertical-align: middle;
  color: $gray--darken;
  border: 2px solid black;

  &::placeholder {
    color: $gray--light;
  }

  &:hover, &:active, &:focus {
    border: 2px solid $color-main;
  }

}
