$mobile-widths-only: "(max-width: 767px)";
$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1200px)";

$gray--darken: #444444;
$gray-dark: #666666;
$gray: #b2b2b2;
$gray--light: #c7c7c7;
$gray--lighten: #ececec;
$gray--lightest: #f1f1f1;

$color-main: #62d1ba;

$font-main--huge: 19px;
$font-main--big: 17px;
$font-main: 15px;
$font-main--small: 14px;
$font-main--tiny: 13px;
