.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &__title {
    flex-basis: 100%;
    margin-bottom: 30px;
    color: black;
  }

  &__item {
    margin-bottom: 30px;
    box-sizing: border-box;
  }

  &__item-image {
    margin-bottom: 15px;
  }

  &__item-title {
    font-weight: 700;
    color: black;
  }
}

@media #{$mobile-widths-only} {
  .about {
    &-wrap {
      margin-bottom: 30px;
    }

    &__title {
      font-size: 25px;
    }

    &__item {
      flex-basis: 100%;
    }

    &__item-title {
      font-size: 17px;
    }
  }
}

@media #{$tablet-widths} {
  .about {
    &-wrap {
      margin-bottom: 50px;
    }

    &__title {
      font-size: 43px;
    }

    &__item {
      flex-basis: 40%;
    }

    &__item-title {
      font-size: 20px;
    }
  }
}

@media #{$desktop-widths} {
  .about {
    padding: 0 175px;

    &__title {
      font-size: 53px;
    }
  }
}
