.banner-header-wrap {
  position: relative;
}

.banner-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.banner-header__list {
  display: flex;
}

.banner-header__title {
  font-weight: 700;
  text-align: center;
  color: #010000;
}

.banner-header__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  padding: 0 30px;
  font-weight: 700;
  color: white;
  box-sizing: border-box;
  transition: all 0.5s ease;

  &--interior {
    background-color: #63d1bb;
  }

  &--toy {
    background-color: #56c3b2;
  }
}

.banner-header__item--interior:hover {
  color: white;
  background-color: #59d5bc;
}

.banner-header__item--interior:hover svg {
  opacity: 0.7;
}

.banner-header__item--interior:active {
  color: #8be2d0;
  background-color: #59d5bc;
}

.banner-header__item--interior:active svg {
  opacity: 0.3;
}

.banner-header__item--interior use.icon-interior {
  fill: #149080;
}

.banner-header__item--toy:hover {
  color: white;
  background-color: #46c1ae;
}

.banner-header__item--toy:hover svg {
  opacity: 0.7;
}

.banner-header__item--toy:active {
  color: #7ed4c6;
  background-color: #46c1ae;
}

.banner-header__item--toy:active svg {
  opacity: 0.3;
}

.banner-header__item--toy use.icon-toy {
  fill: #149080;
}

.banner-header__item-text {
  flex-basis: 150px;
}

@media #{$mobile-widths-only} {
  .banner-header-wrap {
    margin-bottom: 25px;
    background: url("../img/hero-mobile@1x.jpg") no-repeat 50% 0% #f9f9f9;
  }

  .banner-header-wrap .container{
    padding: 0;
  }

  .banner-header {
    height: 490px;
  }

  .banner-header__title {
    margin: 70px 30px 0 30px;
    padding: 0 30px;
    font-size: 27px;
  }

  .banner-header__list {
    flex-direction: column;
  }

  .banner-header__item {
    height: 105px;
    font-size: 19px;
  }

  .banner-header__item--interior:hover {
    height: 110px;
  }

  .banner-header__item--toy:hover {
    height: 110px;
  }
}

@media #{$tablet-widths} {
  .banner-header-wrap {
    margin: -60px 0 40px 0;
    border-top: 1px solid $gray--lighten;
    background: url("../img/hero-desktop@1x.jpg") no-repeat 50% 100% #f9f9f9;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 10px;
      background-image: radial-gradient(circle at 10px -5px, transparent 12px, white 12px);
      background-repeat: repeat;
      background-size: 20px 20px;
    }

    &::after{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 15px;
      background-image: radial-gradient(circle at 10px 15px, white 12px, transparent 12px);
      background-repeat: repeat;
      background-size: 40px 20px;
    }
  }

  .banner-header {
    height: 745px;
  }

  .banner-header__title {
    margin-top: 150px;
    padding: 0 70px;
    font-size: 43px;
  }

  .banner-header__list {
    flex-direction: row;
    align-items: flex-end;
    height: 105px;
  }

  .banner-header__item {
    height: 120px;
    font-size: 20px;
  }

  .banner-header__item--interior:hover {
    height: 125px;
  }

  .banner-header__item--toy:hover {
    height: 125px;
  }
}

@media #{$desktop-widths} {
  .banner-header-wrap {
    margin-bottom: 70px;

    &::before {
      height: 15px;
      background-image: radial-gradient(circle at 15px -5px, transparent 18px, white 18px);
      background-repeat: repeat;
      background-size: 30px 30px;
    }

    &::after {
      height: 20px;
      background-image: radial-gradient(circle at 15px 20px, white 18px, transparent 18px);
      background-repeat: repeat;
      background-size: 60px 30px;
    }
  }

  .banner-header__title {
    padding: 0 150px;
    font-size: 53px;
  }
}

@media (max-width: 767px) and (min-resolution: 144dpi),
(max-width: 767px) and (min-resolution: 1.5dppx) {
  .banner-header-wrap {
    background: url("../img/hero-mobile@2x.jpg") no-repeat 50% 0% #f9f9f9;
    background-size: 575px 373px;
  }
}

@media (min-width: 768px) and (min-resolution: 144dpi),
(min-width: 768px) and (min-resolution: 1.5dppx) {
  .banner-header-wrap {
    background: url("../img/hero-desktop@2x.jpg") no-repeat 50% 0% #f9f9f9;
    background-size: 1150px 746px;
  }
}
