.catalog {
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    border: 1px solid $gray--lighten;
  }

  &__item:hover {
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  }

  &__item:active {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  }

  &__item-image {
    text-align: center;
  }

  &__item-description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__item-description {
    position: relative;
    background-image: url('/img/icon-cart.svg');
    background-repeat: no-repeat;
    background-position: 90% 85%;
  }

  &__item-description:hover {
    background-image: url('/img/icon-cart-color.svg');
  }

  &__item-description:active {
    background-image: url('/img/icon-cart-color.svg');
  }

  &__item-description:active::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 60px;
    background: white;
    opacity: 0.7;
  }

  &__item-title {
    margin: 15px 30px 10px 30px;
    font-weight: 700;
  }

  &__item-features {
    flex-grow: 1;
    margin: 0 30px;
    border-bottom: 1px solid $gray--lighten;
  }

  &__item-price {
    margin: 0 30px;
    font-weight: 700;
  }
}

@media #{$mobile-widths-only} {
  .catalog {
    flex-direction: column;

    &__item {
      flex-direction: column;
      margin-bottom: 30px;
    }

    &__item-description {
      background-repeat: no-repeat;
      background-position: 90% 85%;
    }

    &__item-title {
      margin: 20px 30px 15px 30px;
      font-size: 17px;
    }

    &__item-features {
      padding-bottom: 20px;
      font-size: 13px;
    }

    &__item-price {
      padding: 20px 0 35px 0;
    }
  }
}

@media #{$tablet-widths} {
  .catalog {
    flex-direction: column;

    &__item {
      flex-direction: row;
      margin-bottom: 50px;
    }

    &__item-description {
      background-repeat: no-repeat;
      background-position: 90% 90%;
    }

    &__item-image {
      flex-basis: 334px;
    }

    &__item-title {
      margin: 20px 30px 10px 30px;
      font-size: 20px;
    }

    &__item-features {
      padding-bottom: 10px;
      font-size: 15px;
    }

    &__item-price {
      padding: 30px 0;
    }
  }
}

@media #{$desktop-widths} {
  .catalog {
    flex-direction: row;

    &__item {
      flex-direction: column;
      flex-basis: 316px;
    }

    &__item-description {
      background-repeat: no-repeat;
      background-position: 90% 85%;
    }

    &__item-price {
      padding: 20px 0 30px 0;
    }
  }
}
