.contacts {
  display: flex;
}

.contacts__title {
  color: black;
}

.contacts__list {
  display: flex;
}

.contacts__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.contacts__item-title {
  flex-basis: 80px;
  flex-shrink: 0;
}

.contacts__item-value--email {
  border-bottom: 1px solid $color-main;

  &:hover {
    color: #46c1ae;
    border-bottom: 1px solid #46c1ae;
  }

  &:active {
    color: #d6f1ed;
    border-bottom: 1px solid #d6f1ed;
  }
}

.contacts__map {
  position: relative;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 66px;
    height: 101px;
    margin-left: -33px;
    margin-top: -50px;
    background: url("../img/icon-map-pin.svg") no-repeat;
  }
}

@media #{$mobile-widths-only} {
  .contacts {
    flex-direction: column;
    margin: 40px 0;
  }
  .contacts__title {
    font-size: 18px;
  }

  .contacts__list {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .contacts__item {
    line-height: 28px;
  }

  .contacts__map .container{
    padding: 0;
  }

  .contacts__title,
  .contacts__item,
  .contacts__map{
    margin-bottom: 30px;
  }
}

@media #{$tablet-widths} {
  .contacts {
    flex-direction: column;
    margin: 50px 0 60px 0;
  }

  .contacts__title {
    font-size: 43px;
    height: 80px;
    background: url("../img/icon-flag.svg") no-repeat 100% 50%;
  }

  .contacts__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .contacts__item {
    flex-basis: 40%;
  }

  .contacts__map .container{
    padding: 0;
  }

  .contacts__write {
    align-self: center;
  }

  .contacts__title,
  .contacts__item,
  .contacts__map {
    margin-bottom: 40px;
  }
}

@media #{$desktop-widths} {
  .contacts {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1050px;
    margin: 70px auto 60px auto;
  }

  .contacts__info {
    flex-basis: 350px;
    box-sizing: border-box;
  }

  .contacts__info .container {
    padding: 0;
  }

  .contacts__title {
    font-size: 53px;
    margin-top: 60px;
    padding-left: 175px;
    background-position: 65px 50%;
  }

  .contacts__list {
    flex-direction: column;
    padding-left: 175px;
  }

  .contacts__map .container{
    padding: 0;
  }

  .contacts__write {
    align-self: flex-start;
    margin-top: -100px;
    padding-left: 175px;
  }

  .contacts__write .container {
    padding: 0;
  }
}
