.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 17px;
  font-weight: 700;
}

.main-nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list,
.main-nav__service,
.main-nav__promo {
  z-index: 10;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__info {
  z-index: 10;
}

.main-nav__item a{
  display: block;
  width: 100%;
}

.main-nav__item--search {
  border-left: 1px solid $gray--lighten;
  border-right: 1px solid $gray--lighten;
}

.main-nav__item--search  svg {
  vertical-align: middle;
}

.main-nav__item--search use.icon-search {
  fill: #d3d2d2;
}

.main-nav__item--search:hover use.icon-search {
  fill: #63d1bb;
}

.main-nav__item--search:active use.icon-search {
  fill: #63d1bb;
  opacity: 0.3;
}

.main-nav__item--basket  svg {
  padding-right: 30px;
  vertical-align: middle;
}

.main-nav__item--basket use.icon-cart {
  fill: #d3d2d2;
}

.main-nav__item--basket:hover use.icon-cart {
  fill: #63d1bb;
}

.main-nav__item--basket:active use.icon-cart {
  fill: #63d1bb;
  opacity: 0.3;
}

@media #{$mobile-widths-only} {
  .main-nav {
    align-items: center;
  }

  .main-nav__logo {
    margin: 20px auto;
  }

  .main-nav__logo img {
    margin-left: 50px;
  }

  .main-nav__toggle {
    position: relative;
    display: block;
    width: 50px;
    height: 40px;
    margin-right: 10px;
    font-size: 0;
    cursor: pointer;
    border: none;
    background-color: white;
  }

  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 15px;
    width: 20px;
    height: 2px;
    background-color: #221f1f;
    box-shadow: 0 8px 0 0 #221f1f, 0 16px 0 0 #221f1f;
  }

  .main-nav--opened .main-nav__toggle::before,
  .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    width: 25px;
    height: 2px;
    background-color: #221f1f;
    box-shadow: none;
  }

  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
  }

  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg);
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav__list,
  .main-nav__service {
    flex-direction: column;
    flex-basis: 100%;
    width: 100%;
    height: auto;
    background: white;
  }

  .main-nav--closed .main-nav__list,
  .main-nav--closed .main-nav__service {
    display: none;
  }

  .main-nav--opened .main-nav__list,
  .main-nav--opened .main-nav__service {
    position: absolute;
    left: 0;
    display: flex;
  }

  .main-nav--opened .main-nav__list {
    top: 80px;
  }

  .main-nav--opened .main-nav__service {
    top: 245px;
    border-bottom: 1px solid $gray--lighten;
  }

  .main-nav--nojs .main-nav__list,
  .main-nav--nojs .main-nav__service {
    display: flex;
  }

  .main-nav__promo,
  .main-nav__info {
    display: none;
  }

  .main-nav__item {
    width: 100%;
    height: 85px;
    box-sizing: border-box;
    border-top: 1px solid $gray--lighten;
  }

  .main-nav__item a{
    height: 100%;
    padding: 30px 0 30px 75px;
    box-sizing: border-box;
  }

  .main-nav__item--search  svg {
    margin-left: -45px;
    padding-right: 25px;
  }

  .main-nav__item--basket  svg {
    margin-left: -45px;
    padding-right: 25px;
  }
}

@media #{$tablet-widths} {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    justify-content: space-between;
  }

  .main-nav__logo {
    justify-content: flex-start;
    flex-basis: 300px;
    order: 1;
    height: 46px;
    margin: 22px 0;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 300px;
    order: 3;
    font-size: 15px;
  }

  .main-nav__service {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 340px;
    order: 2;
  }

  .main-nav__promo {
    display: none;
  }

  .main-nav__info {
    order: 4;
    padding: 20px 0;
    font-size: 15px;
    font-weight: normal;
  }

  .main-nav__item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 10px;
    box-sizing: border-box;

    &--catalog {
      padding-left: 0;
    }

    &--basket {
      padding-right: 0;
      text-align: right;
    }
  }

  .main-nav__item--search a {
    text-align: center;
  }

  .main-nav__item--search span {
    font-size: 0;
  }
}

@media #{$desktop-widths} {
  .main-nav__logo {
    justify-content: center;
    flex-basis: 250px;
    order: 2;
    height: 72px;
    margin: 9px auto;
    text-align: center;
  }

  .main-nav__list {
    flex-basis: 340px;
    order: 1;
    font-size: 17px;
  }

  .main-nav__service {
    flex-basis: 340px;
    order: 3;
  }

  .main-nav__promo {
    display: flex;
    flex-basis: 300px;
    order: 3;
    font-size: 15px;
  }

  .main-nav__item--new {
    padding-left: 0;
  }

  .main-nav__item--catalog {
    border-right: 1px solid $gray--lighten;
  }

  .main-nav__item--order {
    text-align: right;
  }
}
