.page-footer-wrap {
  background: $gray--lightest;
}

.page-footer {
  display: flex;
  justify-content: space-between;

  &__logo use.logo-footer {
    fill: #231f20;
  }

  &__logo:hover use.logo-footer {
    fill: $color-main--dark;
  }

  &__logo:active use.logo-footer {
    fill: $color-main--dark;
    opacity: 0.3;
  }

  &__copyright {
    font-size: 19px;
    font-weight: 700;
  }

  &__copyright-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__copyright-link use.logo-htmlacademy {
    fill: #63d1bb;
  }

  &__copyright-link:hover use.logo-htmlacademy {
    fill: $color-main--dark;
  }

  &__copyright-link:active use.logo-htmlacademy {
    fill: $color-main--dark;
    opacity: 0.3;
  }

  &__copyright-link svg {
    margin-left: 30px;
  }
}

@media #{$mobile-widths-only} {
  .page-footer {
    flex-direction: column;
    padding: 20px 0;

    &__logo {
      display: none;
    }

    &__social {
      flex-basis: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid #e5e5e5;
    }

    &__copyright {
      flex-basis: 100%;
      padding-top: 20px;
    }
  }
}

@media #{$tablet-widths} {
  .page-footer {
    flex-direction: row;
    padding: 50px 0;
  }
}
