.production {
  display: flex;
  flex-direction: column;
  border: 1px solid $gray--lighten;

  &:hover {
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  }

  &__video {
    position: relative;
  }

  &__video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 102px;
    height: auto;
    margin-left: -51px;
    margin-top: -34px;
    cursor: pointer;
  }

  &__video-play use.icon-play {
    fill: #63d1bb;
  }

  &__video-play:hover svg {
    width: 120%;
    height: auto;
  }

  &__video-play:active svg {
    width: 80%;
    height: auto;
    opacity: 0.7;
  }

  &__title {
    margin: 30px;
    font-weight: 700;
    background: url('../img/icon-video.svg') no-repeat 0% 50%;
  }

  &__description {
    margin: 30px;
  }

  &__order {
    margin: 15px 30px 30px 30px;
  }
}

@media #{$mobile-widths-only} {
  .production {
    margin-bottom: 60px;

    &__video {
      order: 2;
      text-align: center;
    }

    &__title {
      order: 1;
      margin: 20px 30px;
      padding-left: 50px;
      font-size: 17px;
      line-height: 24px;
    }

    &__description {
      order: 3;
      font-size: 13px;
      line-height: 24px;
    }

    &__order {
      order: 4;
      padding: 15px 30px;
    }
  }
}

@media #{$tablet-widths} {
  .production {
    margin-bottom: 60px;

    &__video {
      text-align: center;
    }

    &__title {
      margin: 30px 0 10px 40px;
      padding-left: 60px;
      font-size: 20px;
    }

    &__description {
      margin: 30px 0 30px 40px;
      font-size: 15px;
      line-height: 30px;
    }

    &__order {
      margin: 0 30px 45px 30px;
    }
  }
}

@media #{$desktop-widths} {
  .production {
    display: block;
    height: 455px;
    margin-bottom: 110px;

    &__video {
      float: left;
      margin-right: 70px;
    }

    &__title {
      float: left;
      width: 215px;
      margin: 55px 0 10px 0;
      padding: 40px 0 0 0;
      background-position: 0% 0%;
    }

    &__description {
      float: left;
      width: 215px;
      margin: 20px 0 20px 0;
    }

    &__order {
      margin: 0 30px 45px 0;
    }

    &__order {
      float: left;
    }
  }
}
