.production {
  display: flex;
  flex-direction: column;
  border: 1px solid $gray--lighten;

  &:hover {
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  }
}

.production__video {
  position: relative;
}

.production__video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 102px;
  height: 68px;
  margin-left: -51px;
  margin-top: -34px;
  cursor: pointer;
}

.production__video-play:hover {
  width: 122px;
  height: 94px;
  margin-left: -61px;
  margin-top: -47px;
}

.production__video-play:hover svg {
  width: 122px;
  height: auto;
}

.production__video-play:active {
  width: 82px;
  height: 62px;
  margin-left: -41px;
  margin-top: -31px;
}

.production__video-play:active svg {
  width: 82px;
  height: auto;
  opacity: 0.7;
}

.production__title {
  margin: 30px;
  font-weight: 700;
  background: url("../img/icon-video.svg") no-repeat 0% 50%;
}

.production__description {
  margin: 30px;
}

.production__order {
  margin: 15px 30px 30px 30px;
}

@media #{$mobile-widths-only} {
  .production {
    margin-bottom: 60px;
  }

  .production__video {
    order: 2;
    text-align: center;
  }

  .production__title {
    order: 1;
    margin: 20px 30px;
    padding-left: 50px;
    font-size: 17px;
    line-height: 24px;
  }

  .production__description {
    order: 3;
    font-size: 13px;
    line-height: 24px;
  }

  .production__order {
    order: 4;
    padding: 15px 30px;
  }
}

@media #{$tablet-widths} {
  .production {
    margin-bottom: 60px;
  }

  .production__video {
    text-align: center;
  }

  .production__title {
    margin: 30px 0 10px 40px;
    padding-left: 60px;
    font-size: 20px;
  }

  .production__description {
    margin: 30px 0 30px 40px;
    font-size: 15px;
    line-height: 30px;
  }

  .production__order {
    margin: 0 30px 45px 30px;
  }
}

@media #{$desktop-widths} {
  .production {
    display: block;
    min-height: 455px;
    margin-bottom: 110px;

    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .production__video {
    float: left;
  }

  .production__video picture {
    display: block;
    width: 100%;
    height: 455px;
  }

  .production__title {
    float: right;
    width: 215px;
    margin: 55px 65px 10px 0;
    padding: 40px 0 0 0;
    background-position: 0% 0%;
  }

  .production__description {
    float: right;
    clear: right;
    width: 215px;
    margin: 20px 65px 20px 0;
  }

  .production__order {
    float: right;
    clear: right;
    margin: 0 65px 45px 0;
  }
}
