.production {
  margin-bottom: 60px;

  &__title {
    margin: 30px;
    font-size: 17px;
    font-weight: 700;
  }

  &__video {
    width: 100%;
  }

  &__description {
    margin: 30px;
    font-size: 13px;
  }

  &__order {
    margin: 30px;
  }
}
