.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link {
  margin: 0 20px;

  & use.icon-social {
    fill: #221f1f;
  }

  &:hover use.icon-social {
    fill: $color-main--dark;
  }

  &:active use.icon-social {
    fill: $color-main--dark;
    opacity: 0.3;
  }
}
