.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link {
  margin: 0 20px;

  &:hover path {
    fill: $color-main--dark;
  }

  &:active path {
    fill: $color-main--dark;
    opacity: 0.3;
  }
}
