.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link {
  margin: 0 20px;
}

.social-link use.icon-social {
  fill: #221f1f;
}

.social-link:hover use.icon-social {
  fill: $color-main--dark;
}

.social-link:active use.icon-social {
  fill: $color-main--dark;
  opacity: 0.3;
}
